<!DOCTYPE html>
<html>
<head>
  <title>Trademebtc</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
<%= yield %>

<footer>
  <p>Powered by <a href="http://www.coindesk.com/price/">CoinDesk</a></p>
</footer>
</body>
</html>
